<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Щоденник</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>

</head>
<body>
    <div class="app">
        <header class="topbar">
            <div class="brand">Щоденник</div>
            <div class="toolbar-placeholder">Панель інструментів(резерв)</div>
        </header>
    </div>

    <div class="main">
        <aside class="sidebar">
            <div class="search-wrap">
                <input class="search" type="text" placeholder="Пошук записів..."/>
            </div>
            <nav class="notes-list">
                <a class="note active" href="#">Запис 1</a>
                <a class="note" href="#">Запис 2</a>
                <a class="note" href="#">Запис 3</a>
            </nav>
            <button class="add-btn" type="button">+ Новий запис</button>
        </aside>
        <section class="editor">
            <div class="editor-card">
                <input class="title-input" type="text" value="Запис 1"/>
                <textarea class="editor-area" placeholder="Пиши тут..."></textarea>
            </div>
        </section>
    </div>
</body>
</html>